

<h1>{{request}}</h1>
<!--<h1>{{qParams}}</h1>-->

    <table>
        <tbody>
        {{#each qParams}}
            <tr>
                <td>{{@key}} </td>
                <td>{{this}}</td>
            </tr>
        {{/each}}
        </tbody>

    </table>
